* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #f9f4ef;
  font-family: Tahoma, san-serif;
  font-size: 16px;
  color: #020826;
}

main{
  text-align: center;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  overflow: hidden;
 
}

.one{
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.two{
 background-color: #eaddcf;
 text-align: center;
 margin: 0px;
 padding: 20px 20px 20px 20px;
 border-radius: 10px; 
 width: fit-content;
 margin: auto; 
}
.h1{
  color: #18acc2;
  font-transform: uppercase;
  letter-spacing: 3px;
}

.quote{
  font-style: italics;
  font-size: 20px;
  line-hight: 4px;
  
}

.author{
  font-weight: bold;
  color: #8c7851;
}

